div.L-main{
    width:100%;
    height:1086px;
    background-color: #EFF1F3;
    /*border:1px solid yellow;*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*flex-wrap: nowrap;*/
}
div.L-main>div.L-title{
    /*display: inline-block;*/
    width:63%;
    height:100px;
    line-height: 31px;
    margin-top:70px;
    /*border: 1px solid red;*/
    margin-left:100px;
    /*vertical-align:center;*/
    position:relative;
}
div.L-main>div.L-title>h2{
    margin-top:80px;
    float:left;
    font-weight: normal;
    /*position: absolute;*/
    /*top:80px;*/
}
div.L-main>div.L-title>a{
    /*margin-top:180px;*/
    /*float:right;*/
    font-weight: bold;
    color:#003150;
    text-decoration:underline;
    padding-right:30px;
    position: absolute;
    top:120px;
    left:0px;
}
div.L-main>div.L-content{
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    /*border:1px solid red;*/
    /*margin-top: 120px;*/
    margin-top:20px;
    height:942px;
}
/*2.1左边:手机注册*/
div.L-content>div.L-reg{
    width:65.1%;
    margin-left:100px;
    height:942px;
    border-right:1px solid gray;
}
/*2.2右边欢迎*/
div.L-content>div.L-wel{
    width:29.8%;
    height:840px;
    /*border:1px solid blue;*/
}
/*2.1里面表单*/
div.L-reg>form{
    margin-top:30px;
}
div.L-reg>form span{
    font-size:12px;
    color:#677988;
}
div.L-reg>form div{
    margin-top:10px;
}
div.L-reg>form input{
    width:350px;
    height:40px;
    margin-top:10px;
    padding-left: 10px;
    /*border-style: none;*/
}
div.L-reg>form input:focus{
    outline:none;
}
/*性别*/
div.L-reg>form div.L-sex select{
    width:176px;
    height:45px;
    margin-top:10px;
    background: #EFF1F3;
}
div.L-sex select:focus{
    outline:none;
}
div.L-reg>form>div.L-code input{
    width:176px;
}
/*div.L-reg>form div.L-code img{*/
/*width:176px;*/
/*height:45px;*/
/*}*/
/*div.L-phone span:nth-child(2){*/
/*margin-top:2px;*/
/*}*/
div.L-reg>form div.L-code{
    height:90px;
}
/*手机验证码*/
div.L-reg>form div.L-pcode{
    width:100%;
    height:100px;
    /*border:1px solid red;*/
}
div.L-reg>form div.L-pcode input{
    width:190px;
}
div.L-reg>form div.L-pcode a{
    display:inline-block;
    width:130px;
    height:55px;
    line-height: 55px;
    /*border:1px solid blue;*/
    background:#003150;
    /*margin-left:20px;*/
    /*vertical-align: middle;*/
    /*margin-top:10px;*/
    text-align:center;
    color:#fff;
    font-size:14px;
    text-decoration: none;
    /*margin:0 auto;*/
}
/*div.L-reg>form div.L-pcode a>span{*/
/*color:#fff;*/
/*line-height:55px;*/
/*font-size:14px;*/
/*/!*margin:0 auto;*!/*/
/*/!*text-align:center;*!/*/
/*}*/
div.L-reg>form div.L-pcode a:hover{
    display:inline-block;
    width:130px;
    height:50px;
    line-height:50px;
    border:1px solid #003150;
    background:#fff;
    /*margin-left:20px;*/
    /*vertical-align: middle;*/
    /*margin-top:10px;*/
    text-align:center;
    transition: linear 0.2s;
    color:#003150;
    text-decoration: none;
    /*color:black;*/
}
/*div.L-reg>form div.L-pcode a>span:hover{*/
/*color:#003150;*/
/*line-height:55px;*/
/*font-size:14px;*/
/*/!*margin:0 auto;*!/*/
/*/!*text-align:center;*!/*/
/*}*/
div.L-reg>form div.L-twoSec{
    /*border:1px solid red;*/
    /*display:inline;*/
    /*display: inline-block;*/
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
div.L-reg>form div.L-twoSec input{
    width:180%;
}
/*div.L-reg>form div.L-twoSec>div.L-firstSec{*/
/*/!*display: inline-block;*!/*/
/*/!*width:100%;*!/*/
/*/!*border:1px solid red;*!/*/
/*}*/
div.L-reg>form div.L-twoSec>div.L-checkSec{
    margin-right:25%;
    /*display:inline-block;*/
    /*border:1px solid red;*/
    /*width:10%;*/
}
/*div.L-reg>form div.L-checkSec input{*/
/*width:100%;*/
/*}*/
div.L-reg>form div.L-must{
    margin-top:30px;
}
div.L-reg>form div.L-check{
    /*padding-right:100px;*/
    /*border:1px solid red;*/
    height:55px;
    line-height:55px;
    /*width:24px;*/
    /*height:55px;*/
    /*line-height:55px;*/
    /*display:inline-block;*/
    /*vertical-align: middle;*/
    /*text-align:center;*/
}
div.L-reg>form div.L-check input{
    width:24px;
    height:24px;
    vertical-align:middle;
    margin-top:2px;
    /*margin-top:30px;*/
}
/*div.L-reg>form div.L-submit{*/
/*/!*display: inline-block;*!/*/
/*/!*margin-top:20px;*!/*/
/*/!*width:180px;*!/*/
/*/!*height:70px;*!/*/
/*/!*line-height: 70px;*!/*/
/*/!*text-align:center;*!/*/
/*/!*padding-left:20px;*!/*/
/*/!*border:1px solid red;*!/*/
/*/!*background:#003150;*!/*/
/*/!*color:#fff;*!/*/
/*}*/
div.L-reg>form div.L-submit a{
    display: inline-block;
    margin-top:20px;
    width:180px;
    height:70px;
    line-height: 70px;
    background:#003150;
    color:#fff;
    padding-left:20px;
    text-decoration:none;
}
div.L-reg>form div.L-submit a:hover{
    display: inline-block;
    margin-top:20px;
    width:180px;
    height:70px;
    line-height: 70px;
    padding-left:20px;
    background:#ffffff;
    color:#003150;
    transition:linear .2s;
    border:1px solid #003150;
    text-decoration: none;
}
div.L-reg>form div.L-submit a span{
    padding-left:80px;
}

/*2.2右边欢迎登录*/
div.L-wel>div{
    /*border:1px solid red;*/
    width:70%;
    height:150px;
    /*margin-top:30px;*/
    margin:0 auto;
    /*vertical-align:middle;*/
}
/*div.L-wel>div.L-rgWel{*/
/*height:100px;*/
/*}*/
div.L-wel>div.L-rgWel strong{
    width:56px;
    height:36px;
    /*line-height:38.6px;*/
    font-weight:normal;
    font-size: 27px;
    color:#5d5d5d;
}
div.L-wel>div.L-rgWel p{
    /*width:296.9px;*/
    height:26px;
    font-size:14px;
    margin-top:17px;
    margin-bottom:12px;
    color:#5d5d5d;
    /*line-height:26.4px;*/
}
div.L-wel>div.L-userLogin{
    height:100px;
}
div.L-wel>div.L-userLogin>strong{
    width:95px;
    height:31px;
    font-size:24px;
}
div.L-wel>div.L-userLogin>p{
    margin-top:10px;
    font-size:14px;
    margin-bottom:45px;
}
/*div.L-rgForm div:nth-child(1){*/
/*width:249.9px;*/
/*height:50px;*/
/*}*/
div.L-wel>div.L-rgForm{
    height:300px;
}
div.L-rgForm>form div.L-email>span{
    width:126px;
    height:19px;
    font-size:14px;
    color:#667988;
}
div.L-rgForm>form div.L-email>input{
    margin-top:10px;
    width:93%;
    height:50px;
    padding-left: 10px;
    outline:none;
}
div.L-rgForm>form div.L-sec>span{
    width:126px;
    height:19px;
    font-size:14px;
    color:#667988;
}
div.L-rgForm>form div.L-sec>input{
    margin-top:10px;
    width:93%;
    height:50px;
    padding-left: 10px;
    outline:none;
}
div.L-rgForm>form div.L-sec a{
    display: inline-block;
    width:90%;
    height:20px;
    color:#003150;
    font-size:14px;
    text-align:center;
    /*outline:underline;*/
    /*text-decoration:;*/
    text-decoration: underline;
    margin-top:10px;
}
div.L-rgForm>form div.L-login a{
    display: inline-block;
    margin-top:20px;
    width:90%;
    height:70px;
    line-height: 70px;
    background:#003150;
    color:#fff;
    padding-left:20px;
    text-decoration:none;
}
div.L-rgForm>form div.L-login a:hover{
    display: inline-block;
    margin-top:20px;
    width:90%;
    height:70px;
    line-height: 70px;
    padding-left:20px;
    background:#ffffff;
    color:#003150;
    transition:linear .2s;
    border:1px solid #003150;
    text-decoration: none;
}
div.L-rgForm>form div.L-login a span{
    padding-left:150px;
}
div.L-wel div.L-coo{
    margin-top:20px;
}
div.L-wel div.L-coo>strong{
    font-size:18px;
}
div.L-coo div.L-logo{
    display:flex;
    /*justify-content: space-between;*/
    flex-wrap: nowrap;
    padding:0;
    /*border:1px solid red;*/
    height:70px;
    position: relative;
}
/*div.L-Clogo div:nth-child(1){*/
/*position: absolute;*/
/*top:10px;*/
/*left:-80px;*/
/*}*/
/*div.L-Clogo div:nth-child(2){*/
/*position: absolute;*/
/*top:10px;*/
/*left:50px;*/
/*}*/
/*div.L-Clogo div:nth-child(3){*/
/*position: absolute;*/
/*top:10px;*/
/*left:140px;*/
/*}*/
div.L-coo>div.L-logo div:nth-child(1) a{
    display:inline-block;
    width:70px;
    height:70px;
    /*border:1px solid red;*/
    /*padding-right:0px;*/
    background:url(../img/qq.png) no-repeat center center ;
}
div.L-coo>div.L-logo div:nth-child(1) a:hover{
    display:inline-block;
    width:70px;
    height:70px;
    border:1px solid red;
    /*padding-right:0px;*/
    /*background:url(../img/qq.png) no-repeat center center ;*/
    background-color:#003150;
}
div.L-coo>div.L-logo div:nth-child(2) a{
    display:inline-block;
    width:70px;
    height:70px;
    /*border:1px solid red;*/
    /*padding-left:0px;*/
    background:url(../img/wechat.png) no-repeat center center ;
}
div.L-coo>div.L-logo div:nth-child(2) a:hover{
    display:inline-block;
    width:70px;
    height:70px;
    border:1px solid red;
    /*padding-left:0px;*/
    /*background:url(../img/wechat.png) no-repeat center center ;*/
    background-color: #003150;
}
div.L-coo>div.L-logo div:nth-child(3) a{
    display:inline-block;
    width:70px;
    height:70px;
    /*border:1px solid red;*/
    background:url(../img/weibo.png) no-repeat center center ;
}
div.L-coo>div.L-logo div:nth-child(3) a:hover{
    display:inline-block;
    width:70px;
    height:70px;
    border:1px solid red;
    /*background:url(../img/weibo.png) no-repeat center center ;*/
    background-color: #003150;
}
/*div.L-logo div a:hover{*/
/*display:inline-block;*/
/*width:70px;*/
/*height:70px;*/
/*border:1px solid red;*/
/*color:blue;*/
/*}*/




